{{> principalhead }}
<body>
    {{> header  }}
    <h1>Hola {{ capitalizar nombre }}</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam et unde atque vero ab animi architecto! Dignissimos, fuga sint. Praesentium dolore enim ea eveniet doloremque quod obcaecati alias doloribus porro?
    </p>

    <section id="textBox" contenteditable="true">

  <h1 style="color:red">Título</h1>

  <p>Escribir aquí...</p> 

  </section>

    {{> footer }}
</body>
</html>